* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

html {
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    background-image: linear-gradient(rgba(41, 128, 185, 1.0), rgba(0, 0, 0, 0.7)), url('../img/texture_dark_lines_126785_3840x2160.jpg');
    background-attachment: fixed;
}

section {
    width: 67%;
    float: right;
    margin: 10px 5%;
}

header {
    margin: 5%;
    display: block;
    line-height: 120%;
}

li {
    list-style: none;
    margin-bottom: 30px;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    font-weight: 400;
    color: #ffffff;
    font-size: 250%;
    word-spacing: 5px;
    letter-spacing: 5px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #2980b9;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

h3 {
    color: #2980b9;
    font-size: 110%;
    margin-bottom: 3px;
}

em {
    font-size: 80%;
    margin-bottom: 10px;
}

.pic {
    display: inline-block;
}

.pic img {
    border-radius: 50%;
    width: 15vw;
    height: auto;
    float: left;
}

.name-box {
    float: left;
    color: #ffffff;
    margin: 0;
}

header section {
    width: 74%;
    margin: 0;
}

nav {
    float: left;
    margin: 5px 0 0 5%;
    width: 20%;
}

nav li {
    display: block;
}

header li {
    margin-bottom: 0;
}

header h3,
nav h3 {
    color: #ffffff;
}

header h3 {
    margin-top: 20px;
}

header em {
    font-size: 100%;
}

.info {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset;
}

.ion-icon {
    margin-bottom: -5px;
}

.skills-col {
    width: 50%;
    float: left;
}

.skills-col li {
    margin-bottom: 10px;
    display: block;
}

.stars {
    float: right;
    color: #2980b9;
    margin-right: 5%;
}

.stars .ion-icon {
    margin: auto 0;
}